body {
  font-family: 'Roboto', sans-serif;
}

.bg-custom {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 85vh;
  width: 100%;
}

.bg-custom::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}

.bg-custom--1 {
  background-image: url('../images/cover/cover-1.png');
}

.bg-custom--2 {
  background-image: url('../images/cover/cover-2.jpg');
}

.bg-custom--3 {
  background-image: url('../images/cover/cover-3.jpg');
}

.bs-bg-opacity {
  --bs-bg-opacity: 0.05;
}

.custom-responsive-w {
  width: 100%;
}

@media (min-width: 768px) {
  .custom-responsive-w {
    width: 75%;
  }
}
